<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="torquedit"
   name="TorquEDIT Plug-in"
   version="0.4.2.3"
   provider-name="Krux Games, LLC and J. Alan Atherton"
   class="torquedit.tseditor.TorquEDITPlugin">

   <runtime>
      <library name="TorquEDIT.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.core.filesystem"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.core.variables"/>
      <import plugin="org.eclipse.ui.externaltools"/>
      <import plugin="org.eclipse.ui.console"/>
   </requires>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="torquedit.tseditor.TorqueScriptEditor"
            icon="src/torquedit/tseditor/resources/torque16.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            name="TorquEDIT Script Editor"
            id="torquedit.tseditor.TorqueScriptEditor"
            extensions="cs, mis, gui, t2d">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="torquedit.preferences.TorquEDITPreferencePage"
            id="torquedit.preferences.TorquEDITPreferencePage"
            name="TorquEDIT"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="torquedit.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="TorqueEDIT"
            name="Tree"/>
   </extension>
   <extension
         id="TSNature"
         name="Torque project nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="torquedit.tseditor.TSProjectNature"/>
      </runtime>
      <builder id="torquedit.builder"/>
   </extension>
   <extension
         id="builder"
         name="Torque Builder"
         point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run class="torquedit.tseditor.TSBuilder"/>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="torquedit.tseditor.torqueCategory"
            name="Torque Project"/>
      <wizard
            category="torquedit.tseditor.torqueCategory"
            class="torquedit.tseditor.TSNewProjectWizard"
            icon="src/torquedit/tseditor/resources/torque20.png"
            id="torquedit.tseditor.torqueProjectWizard"
            name="Torque Project"
            project="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="src/torquedit/tseditor/resources/torque.gif"
            id="torquedit.projectImage"
            natureId="torquedit.TSNature"/>
   </extension>
   <extension
         id="torquedit.dsofilter"
         name="DSO Filter"
         point="org.eclipse.ui.ide.resourceFilters">
      <filter
            pattern="*.dso"
            selected="true"/>
   </extension>
   <extension
         id="taskmarker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.taskmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="torquedit.debug.TSLaunchDelegate"
            id="torquedit.TSLaunchConfigurationType"
            modes="run, debug"
            name="Torque App"
            sourceLocatorId="torquedit.sourceLocator"
            sourcePathComputerId="torquedit.sourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="torquedit.debug.TSLaunchTabGroup"
            id="torquedit.TSTabGroup"
            type="torquedit.TSLaunchConfigurationType"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            class="torquedit.debug.TSLaunchMainTab"
            group="torquedit.tabs"
            id="torquedit.mainTab"
            name="Main Tab">
      </tab>
   </extension>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="torquedit.debug.TSLineBreakpoint"
            id="torquedit.breakpoint"
            markerType="torquedit.breakmarker"
            name="TorquEDIT Breakpoint">
      </breakpoint>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="torquedit.debug.TSSourceLookupDirector"
            id="torquedit.sourceLocator"
            name="TorquEDIT Source Locator">
      </sourceLocator>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="torquedit.debug.TSSourcePathComputerDelegate"
            id="torquedit.sourcePathComputer">
      </sourcePathComputer>
   </extension>
   <extension
         id="breakmarker"
         name="TorquEDIT Breakpoint Marker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.debug.core.lineBreakpointMarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="torquedit.tseditor.TorqueScriptEditor"
            class="torquedit.tseditor.TSBreakpointAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="torquedit.tseditor.TSDebugModelPresentation"
            id="torquedit">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.debug.core.watchExpressionDelegates">
      <watchExpressionDelegate
            debugModel="torquedit"
            delegateClass="torquedit.debug.TSWatchExpressionDelegate">
      </watchExpressionDelegate>
   </extension>
   <extension
         id="problemMarker"
         name="Torquedit problem marker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="torquedit.action.contribution.editor"
            targetID="torquedit.tseditor.TorqueScriptEditor">
         <action
               class="torquedit.tseditor.AddWatchExpressionAction"
               icon="src/torquedit/tseditor/resources/torque16.png"
               id="torquedit.addWatchExpressionAction"
               label="Add watch expression"
               toolbarPath="Normal/additions"
               tooltip="Add highlighted text as watch expression">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="torquedit.action.contribution.popup"
            targetID="#TextEditorContext">
         <action
               class="torquedit.tseditor.AddWatchExpressionAction"
               icon="src/torquedit/tseditor/resources/torque16.png"
               id="torquedit.addWatchExpressionAction.popup"
               label="Add watch expression"
               menubarPath="additions"
               state="true"
               tooltip="Add highlighted text as watch expression">
         </action>
      </viewerContribution>
   </extension>

</plugin>
